@import "tailwindcss";


html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #020617; /* dark theme base */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

